@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.btn-edit {
  cursor: pointer;
  background-color: deepskyblue;
  border-radius: 0.5em;
  padding: 0.3em 1em;
}

@media screen and (min-width: 768px) {
  .navbar__header {
    padding: 0 2rem;
  }

  .container {
    padding: 2em 1em !important;
  }
}
